
@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.mainBackground{
    -fx-background-color: #F5EFE7;

}

.button {
    -fx-background-color: linear-gradient(to bottom, #4e79a7, #3E5879); 
    -fx-text-fill: #F5EFE7;
    -fx-font-size: 16px; 
    -fx-padding: 12; 
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-cursor: hand; 
    -fx-font-weight: bold;
    -fx-font-family: "Chicle", serif; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0, 2, 2); 
    -fx-transition: all 0.3s ease; 
    -fx-min-width: 50px;
}
.list-view {
    -fx-border-color: #3E5879; 
    -fx-border-width: 2; 
    -fx-border-radius: 8; 
    -fx-padding: 10;
}

.list-cell {
    -fx-padding: 8; 
    -fx-border-color: transparent transparent #ddd transparent; 
    -fx-border-width: 0 0 1 0; 
}

.list-cell:last-child {
    -fx-border-width: 0; 
}

.label{
    -fx-font-family: "Chicle", serif;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-border-width: 1; 
    -fx-text-fill:  #3E5879;
}
.bigLabel{
    -fx-font-family: "Chicle", serif;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-border-width: 1; 
    -fx-text-fill:  #3E5879;
}

.text-area {
    -fx-pref-height: 300px;
    -fx-background-color: #fff;
    -fx-font-size: 14px;
    -fx-border-color: #d2b79c;
}

.text-field {
    -fx-background-color: #fff;
    -fx-font-size: 14px;
    -fx-border-color: #d2b79c;
    -fx-border-radius: 20px;
    -fx-background-radius:20px;
    -fx-pref-height: 30px;
    -fx-pref-width: 200px;
    -fx-border-color: #3E5879;
}