
@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');



.mainBackground {
    -fx-background-color: #F5EFE7;
}


.root {
    -fx-font-family: "Arial";
    -fx-padding: 10;
    -fx-spacing: 10;
     -fx-background-color: #F5EFE7;

}

.hbox {
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-background-color: #D8C4B6; 
    -fx-pref-width: 500px; 
    -fx-pref-height: 72.79px; 
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

#textId {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #3E5879;
}


.grid-pane {
    -fx-background-color: #ffffff; 
    -fx-pref-width: 400px; 
    -fx-pref-height: 400px; 
    -fx-alignment: center;
    -fx-border-radius: 30; 
    -fx-background-radius: 30; 
}
.grid-pane-record {
    -fx-background-color: #ffffff; 
    -fx-pref-width: 200px; 
    -fx-pref-height: 200px; 
    -fx-alignment: center;
   
    -fx-background-radius: 10; 
}
.grid-pane-record  .button{
    
    -fx-max-width: Infinity; 
    -fx-max-height: Infinity; 
    -fx-alignment: center;
    -fx-font-size: 30px; 
    -fx-font-weight: bold;
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-text-fill: #3E5879; 
    -fx-background-color: transparent;
    -fx-border-color: #d8c4b6; 
    -fx-border-width: 1; 
    -fx-border-style: solid;
    -fx-cursor: hand;
 
}


.grid-pane .button {
    -fx-max-width: Infinity; 
    -fx-max-height: Infinity; 
    -fx-alignment: center;
    -fx-font-size: 70px; 
    -fx-font-weight: bold;
    -fx-pref-width: 100;
    -fx-pref-height: 100;
    -fx-text-fill: #3E5879; 
    -fx-background-color: transparent; 
    -fx-border-color: #d8c4b6; 
    -fx-border-width: 1; 
    -fx-border-style: solid;
    -fx-cursor: hand;
   
}


.vbox {
    -fx-background-color: #3E5879;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-spacing: 30px; 
    -fx-pref-height: 500px;
    -fx-pref-width: 300px;
}




.text-area {
    -fx-background-color: #fff;
    -fx-font-size: 14px;
    -fx-border-color: #d2b79c;
}


.text-field {
    -fx-background-color: #fff;
    -fx-font-size: 14px;
    -fx-border-color: #d2b79c;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-pref-height: 30px;
    -fx-border-color: #3E5879;
}


.serverStartBtn:hover {
    -fx-background-color: #13f803;
}


.labelTwo {
    -fx-font-size: 30px;
    -fx-background-color: #3E5879;
    -fx-font-weight: bold;
    -fx-text-fill: white; 
}
